/* utilities */
.hidden {
    display: none !important;
}

#staktekst_overlay {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999999 !important;
    background: rgba(0, 0, 0, 0.8) !important;
}

/* button styles */
.stackButton {
    transform: scale(0.95);
    flex: 1;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.stackButton:hover {
    color: rgb(141, 223, 253) !important;
    cursor: pointer;
}

/* bubble styles */
.bookmark-icon:hover {
    opacity: 1 !important;
    color: black !important;
}

.bookmark-icon {
    margin: 3px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.zoom-icon:hover {
    opacity: 1 !important;
    color: black;
}

.zoom-icon {
    margin: 3px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#bubble {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 999999;
    width: 200px;
    height: 70px;
    top: 0px;
    left: 0px;
    padding: 0px 0px;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    opacity: 0.9;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#bubble::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 25%;
    bottom: 0;
    border: 8px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8) !important;
    border-bottom: 0;
    border-right: 0;
    margin-left: -8px;
    margin-bottom: -8px;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    height: 100%;
    padding-left: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

#float-container {
    display: flex;
    flex-direction: column;

    cursor: pointer !important;
    color: rgba(0, 0, 0, 0.2);
    /* opacity: 0.2; */
    position: absolute;
    right: -30px;
    display: flex;
    justify-content: center;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* modification on font awesome */
.fab {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 18px !important;
}

.fas {
    margin-top: 4px !important;
    font-size: 18px !important;
}