/* ----- modals ----- */
.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 9999999;
	width: 100%;
	height: 100%;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: rgba(0, 0, 0, 0.5);
}

/* clear stack window */
#fileexport-messagebox h4 {
	color: tomato;
}

#clearstack-messagebox h4 {
	color: tomato;
}

#fileexport-window button {
	min-width: 100px;
	z-index: 9999999;
}

#clearstack-window button {
	min-width: 100px;
	z-index: 9999999;
}

.ok {
	padding: 4px;
	background-color: bisque;
}

.cancel {
	min-width: 100px;
	z-index: 9999999;
}

.button-container {
	align-self: flex-end;
	justify-content: center;
	margin-top: 30px;
}

#clearstack-messagebox {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: space-between;
	z-index: 9999999;
	width: 380px;
	height: 180px;
	background: white;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 20px;
	font-size: 16px;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.radio-container {
	margin-top: 10px;
}

.radio-container input {
	margin-right: 8px;
}

#fileexport-messagebox {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: space-between;
	z-index: 9999999;
	width: 380px;
	min-height: 230px;
	background: white;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 20px;
	font-size: 16px;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* utilitie classes */
.sticky {
	position: fixed;
	z-index: 999999;
}

.removed {
	color: black !important;
	opacity: 0.5 !important;
	text-decoration: line-through;
}

.hidden {
	display: none !important;
}

.highlighted {
	background-color: orange;
}

.spacer {
	height: 19px;
}

.filtered {
	display: none !important;
}

.entering {
	top: 5px !important;
	float: left;
}

.inlineblock {
	text-align: left;
	display: block !important;
}

/* note edition */

.infilter .stackwrapper.editing:hover {
	margin-left: 15px !important;
	background: azure !important;
}

.editing:hover {
	background: azure !important;
	border-left: 6px solid gray !important;
	border-right: 1px solid gray !important;
	margin-left: 10px !important;
	margin-right: 15px !important;
}

.editing {
	min-height: 44px;
	background: azure !important;
}

.content {
	display: inline;
	/* cursor: auto; */
}

.edit:hover {
	color: black;
}

.editing .edit::before {
	display: none;
}

.edit {
	font-size: 9px !important;
	transform: scale(0.9);
	color: rgba(32, 32, 32, 0.1);
	margin-left: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	vertical-align: baseline;
}

/* ----- html tag styles ----- */
input:focus {
	outline: none;
}

[contenteditable]:focus {
	outline: 0px solid transparent;
}

/* ----- popup.html ----- */

html {
	height: 700px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.25);
}

.smoothscroll {
	scroll-behavior: smooth;
}

/* container element styles */
body {
	width: 450px;
	height: 700px;
	margin: 0px;
}

header:hover {
	opacity: 1 !important;
}

header {
	opacity: 1;
	width: 450px;
	height: 50px;
	top: 0;
	background: black;
	transition: 0.1s;
}

#container {
	position: relative;
	width: 450px;
	top: 55px;
	margin-bottom: 70px;
}

footer {
	display: block;
	opacity: 1;
	width: 450px;
	height: 50px;
	bottom: 0px;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	transition: 0.1s;
}

/* ----- header element styles -----*/
/* searchbox styles */
.searchbox::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.searchbox {
	position: absolute;
	width: 293px;
	height: 28px;
	padding: 10px 28px 10px 34px;
	margin: 12px 12px;
	border: none;
	border-radius: 30px;
	color: rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.2);
}

.searchlabel::before {
	position: absolute;
	top: 15px;
	left: 16px;
	padding: 2px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 13pt !important;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.search-cancel-button::before {
	position: absolute;
	display: none;
	top: 14px;
	left: 278px;
	padding: 2px;
	color: rgba(255, 255, 255, 0.4);
	font-size: 14pt !important;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* dropdown list styles */
#tagsearch-result::-webkit-scrollbar {
	width: 6px;
	overflow-y: auto;
	overflow-x: none;
}

#tagsearch-result::-webkit-scrollbar-track {
	background: transparent !important;
	border-left: solid 1px transparent;
}

#tagsearch-result::-webkit-scrollbar-thumb {
	background: #cccccc;
	border-radius: 13px;
	box-shadow: inset 0 0 0 2px transparent;
}

#tagsearch-result {
	position: absolute;
	cursor: pointer;
	display: none;
	max-height: 375px;
	width: 287px;
	top: 30px;
	left: 10px;
	overflow: scroll;
	background-color: white;
	border-radius: 3px;
	padding-left: 0px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#tagsearch-result li.selected {
	background: rgba(0, 0, 0, 0.15) !important;

	font-weight: bold;
}

#tagsearch-result li::before {
	content: '#';
}

#tagsearch-result li.emoji::before {
	content: '' !important;
}

#tagsearch-result li {
	-webkit-user-select: none;
	-moz-user-select: none;

	font-size: 14px;
	padding: 5px;
	padding-left: 10px;
	list-style: none;
	background-color: white;
	border-bottom: 1px dotted lightgray;
}

.separatorInput {
	text-align: left;
}
/* tag edit button */
#tagsearch-result li .tagedit:hover {
	color: rgba(32, 32, 32, 0.8);
}

#tagsearch-result li .tagedit {
	background: none !important;
	font-size: 15px !important;
	color: rgba(32, 32, 32, 0.2);
	margin-left: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	vertical-align: baseline;
	float: right;
}

/* header board styles */
#statusboard {
	position: absolute;
	top: 19px;
	right: 20px;
	font-size: 125%;
	color: rgba(255, 255, 255, 0.6);
	-webkit-user-select: none;
	-moz-user-select: none;
}

#toolbox {
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 130px;
	left: 310px;
	top: 13px;
}

.create:hover {
	opacity: 1;
	transition: 0.2s;
	cursor: pointer;
	-moz-user-select: none;
	user-select: none;
}

.create {
	margin-top: 2px !important;
	transform: rotateX(180deg) scale(1.03);
	color: white;
	margin: 0px 9px;
	opacity: 0.3;
	font-size: 14px;
}

.view:hover {
	transition: 0.2s;
	opacity: 1;
	cursor: pointer;
	-moz-user-select: none;
	user-select: none;
}

.view {
	margin-top: 1px !important;
	transform: scale(1.02);

	color: white;
	opacity: 0.3;
	top: 18px;
	margin: 0px 9px;

	font-size: 12px;
}

.export:hover {
	transition: 0.2s;
	opacity: 1;
	cursor: pointer;
	-moz-user-select: none;
	user-select: none;
}

.export {
	margin-top: 2px !important;
	transform: scale(1.04);

	color: white;
	opacity: 0.3;
	top: 13px;
	margin: 0px 9px;

	font-size: 14px;
}

#sort:hover {
	opacity: 0.8;
	cursor: pointer;
}

#sort {
	display: block;
	padding: 5px;
	float: right;
	margin-right: 12px;
	font-size: 130%;
	color: white;
	opacity: 0.6;
	-moz-user-select: none;
	user-select: none;
}

#sort i {
	font-size: 150% !important;
	vertical-align: text-bottom;
}

#textstack {
	clear: right;
	padding: 0;
}

.stackwrapper {
	position: relative;
	min-height: 44px;
	/* padding: 15px; */
	padding: 15px 15px 15px 15px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px 15px 10px 15px;
	overflow-wrap: break-word;
	background: white;
	list-style: none;
	line-height: 28px;
	font-family: 'Arial';
	font-size: 16px !important;
}

.date a:hover {
	color: blue;
	text-decoration: underline;
}
.date a {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}
.date {
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 16px;
	margin: 8px;
	-moz-user-select: none;
	user-select: none;
}

.sepGenerator:hover {
	transition: 0.2s;
	background-color: rgba(0, 0, 0, 0.3);
}
.sepGenerator {
	position: relative;
	opacity: 0.6;
	width: 100%;
	height: 7px;
	border-radius: 3px;
	top: 25px;
}
/* .opener */
.opener:hover {
	opacity: 0.6;
	transition: 0.2s;
	cursor: pointer;
	-moz-user-select: none;
	user-select: none;
}

.opener {
	display: block;
	position: absolute;
	left: 215px;
	margin: auto;
	opacity: 0.2;
	font-size: 16px;
}

.separator .removing {
	cursor: pointer;
	font-weight: bold;
	color: red;
}

.separator .removing:not(.default):hover:after {
	color: red;
}

.separator input {
	background: none;
	color: rgba(0, 0, 0, 0.7);
	font-size: 16px;

	outline: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border: none;
}

.separator input:focus {
	background: lemonchiffon;

	padding: 0px;
	padding-bottom: 1px;
	text-decoration: none;
	/* text-decoration: underline; */
}

input.disabled {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

.separator:hover {
	text-decoration: underline;
}
.separator {
	background: lemonchiffon;
	padding: 3px;

	color: rgba(0, 0, 0, 0.7);
	text-align: left;
	font-size: 14px;
	margin: 8px;
	margin-left: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 18px;
}

/* bookmark note styles */
.infilter .bookmark:hover {
	border-left: 1px solid gray !important;
	border-right: 1px solid gray !important;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white !important;
}

.bookmark:hover {
	background: azure !important;
	border-right: solid 8px teal;
	margin-right: 8px;
}

.bookmark {
	font-size: 14px !important;
}

.bookmark .footnote {
	color: rgba(0, 0, 0, 0.5);
	right: auto;
}

.bookmark a:hover {
	text-decoration: underline !important;
}

.bookmark a {
	color: rgb(32, 123, 156) !important;
	text-decoration: none;
}

/* clip note styles */
.infilter .clip:hover {
	border-left: 1px solid gray !important;
	border-right: 1px solid gray !important;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white !important;
}

.clip:hover {
	background: azure !important;
	border-right: solid 8px teal;
	margin-right: 8px;
}

.clip a:hover {
	text-decoration: underline !important;
}

.clip a {
	color: rgba(138, 175, 189, 0.8);
	text-decoration: none;
}

/* note styles */
.note a:hover {
	text-decoration: underline !important;
}

.note a {
	color: rgb(32, 123, 156) !important;
	text-decoration: none;
}

.infilter .note:hover {
	border-left: 1px solid gray !important;
	border-right: 1px solid gray !important;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white !important;
}

.note:hover {
	border-left: 6px solid goldenrod;
	border-right: 1px solid gray;
	margin-left: 10px;
	margin-right: 15px;
	background-color: lemonchiffon;
}

.note .footnote {
	color: rgba(0, 0, 0, 0.5);
	right: auto;
}

.viewmode .create {
	pointer-events: none;
	visibility: hidden;
}

.viewmode .view {
	opacity: 1 !important;
}

.clip .spacer {
	height: 32px;
}

.clip .footnote {
	position: absolute;
	text-align: left;
	width: 100%;
	left: 15px;
	margin-left: 0px !important;
	color: rgba(0, 0, 0, 0.5);
}

.clip .tag {
	border: none !important;
	display: inline-block;
	margin-top: 0;
}

.clip .footnote .pseudolink {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 25px;
	float: right;
	text-align: right;
	width: 40%;
}

.clip .footnote .pseudolink:hover {
	color: rgba(32, 123, 156, 1) !important;
}

.divWrap::before {
	content: '#' !important;
	color: rgba(0, 0, 0, 0.5) !important;
	vertical-align: super;
}

.divWrap:hover::before {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5) !important;
}

.divWrap {
	display: inline;
}

.tagadd:focus {
	border-bottom: 1px solid lightgray !important;
}

.tagadd {
	margin-bottom: 1px !important;
	vertical-align: text-bottom;
	overflow: visible;
	border-bottom: 1px solid lightgray !important;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.6);
	width: 50px;
	background: none;
	border: none;
}

input.tageditInput[type="text"]:focus {
	padding: 4px;
	background: lemonchiffon;
}
.tageditInput:focus {
	color: blue;
	overflow: visible;
	width: 90%;
	background: none;
	border: none;
	font-weight: bold !important;
}

.tageditInput::placeholder {
	color: tomato;
	text-decoration: underline;
	font-weight: bold;
}

.footnote {
	position: absolute;
	bottom: 5px;
	right: 7px;
	margin-top: 10px;
	margin-left: auto !important;
	margin-right: 3 !important;
	font-size: 12px !important;
	-moz-user-select: none;
	user-select: none;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	color: rgba(138, 175, 189, 0.8);
}

/* tag styles */
.tag:active {
	transform: scale(0.95) !important;
}
.tag:hover {
	font-weight: bold;
}

.tag:before {
	content: '#';
}

.tag {
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;

	max-height: 22px;
	max-width: 100px;
	overflow: hidden;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
}

.fav:before {
	content: none !important;
}

.fav {
	opacity: 1 !important;
	color: goldenrod !important;
	transform: scale(1.25);
	padding-left: 2px;
	padding-right: 2px;
}
.like:before {
	content: none !important;
}

.like {
	opacity: 1 !important;
	color: tomato !important;
	transform: scale(1.25);
	padding-left: 2px;
	padding-right: 2px;
}

.emoji:before {
	content: none !important;
}

.emoji {
	color: rgba(0, 0, 0, 0.8);
	opacity: 1 !important;
	font-size: 13px;
	padding-left: 2px;
	padding-right: 2px;
}

.tag.pinned {
	float: left !important;
}

.view.emoji-icons {
	margin-top: -2px !important;
	font-size: 17px;
	color: transparent;
	text-shadow: 0 0 0 white;
}

.tagDate:before {
	content: '' !important;
}

.tagDate {
	opacity: 1 !important;
	color: blue !important;
	font-size: 14px;
	font-weight: bold;
	padding-right: 2px;
	float: left;
}

.removing {
	text-decoration: underline;
}

.removing:not(.default):hover::after {
	content: "\00d7";
	margin-left: 2px;
}

/* remove */
/* #textstack .stackwrapper:hover .checkbox {
	right: 5px !important;
} */
#textstack .stackwrapper:hover .checkbox::before {
	right: 5px !important;
}

.viewmode .stackwrapper:not(.priority) {
	display: none;
}

.viewmode .view {
	color: lemonchiffon !important;
}

.viewmode div.date {
	display: none;
}

/* .checkbox:hover {
	color: rgba(255, 255, 255, 0.3) !important;
	padding: 0px;
	margin-left: 8px;
	cursor: pointer;
	background-color: #3297fd;
}

.checkbox {
	color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 6px;
	right: 6px;
	float: right;
	font-size: 16px !important;
	border: 1px dotted lightgray;
	border-radius: 10%;
	-webkit-user-select: none;
	-moz-user-select: none;
	margin-left: 8px;
}

.removed .checkbox {
	color: white !important;
	opacity: 1 !important;
} */
.checkbox:hover::before {
	color: rgba(255, 255, 255, 0.3) !important;
	padding: 0px;
	margin-left: 8px;
	cursor: pointer;
	background-color: #3297fd;
}

.checkbox::before {
	color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 6px;
	right: 6px;
	float: right;
	font-size: 16px !important;
	border: 1px dotted lightgray;
	border-radius: 10%;
	-webkit-user-select: none;
	-moz-user-select: none;
	margin-left: 8px;
}

.removed .checkbox::before {
	color: white !important;
	opacity: 1 !important;
}

.removed .separatorCheckbox::before {
	color: white !important;
	opacity: 1 !important;
}

.removed {
	color: black !important;
	opacity: 0.5 !important;
	text-decoration: line-through !important;
}

.removed input {
	text-decoration: line-through !important;
}

#textstack .separator:hover .separatorCheckbox {
	right: 5px !important;
}

.separator .separatorCheckbox:hover {
	color: rgba(255, 255, 255, 0.3) !important;
	padding: 0px;
	margin-left: 8px;
	cursor: pointer;
	background-color: #3297fd;
}

.separator .separatorCheckbox {
	color: rgba(0, 0, 0, 0);
	/* position: absolute;
	top: 37px;
	right: 23px; */
	float: right;
	font-size: 16px !important;
	border: 1px dotted lightgray;
	border-radius: 10%;
	-webkit-user-select: none;
	-moz-user-select: none;
	margin-left: 8px;
}

/* button styles*/
#clearstack {
	width: 350px;
	padding-bottom: 5px;
	border-radius: 4px;
	border: 1;
	outline: none;
	margin: 10px;
	cursor: pointer;
	background-color: bisque;
	color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* bubble styles */
/* bubble body */
#bubble {
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	width: 200px;
	height: 70px;
	top: 0px;
	left: 0px;
	z-index: 999999;
	padding: 0px 0px;
	border-width: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	opacity: 0.9;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

/* bubble pointer arrow */
#bubble::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: 25%;
	bottom: 0;
	border: 8px solid transparent;
	border-top-color: rgba(0, 0, 0, 0.8) !important;
	border-bottom: 0;
	border-right: 0;
	margin-left: -8px;
	margin-bottom: -8px;
}

/* container for search engines */
#leftContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
}

/* container for system commands */
#rightContainer {
	flex-direction: column;
	flex-wrap: wrap;
	width: 20%;
	height: 100%;
	padding-left: 5px;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
}

/* container for commands on the web page */
#floatContainer {
	display: none !important;
	flex-direction: column;
	cursor: pointer !important;
	color: rgba(0, 0, 0, 0.2);
	/* opacity: 0.2; */
	position: absolute;
	right: -30px;
	display: flex;
	justify-content: center;
	align-self: center;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* icon button styles */
.stackButton:active {
	transform: scale(0.85);
}

.stackButton:hover {
	color: rgb(141, 223, 253);
	cursor: pointer;
}

.stackButton {
	transform: scale(1.1);
	flex: 1;
	padding: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.pseudolink {
	cursor: pointer;
}

.note .pseudolink:hover {
	text-decoration: underline !important;
}

.note .pseudolink {
	color: rgb(32, 123, 156) !important;
	text-decoration: none;
}

.clip .pseudolink:hover {
	text-decoration: underline !important;
}

.clip .pseudolink {
	color: rgb(32, 123, 156) !important;
	text-decoration: none;
}

.bookmark .pseudolink:hover {
	text-decoration: underline !important;
}

.bookmark .pseudolink {
	color: rgb(32, 123, 156) !important;
	text-decoration: none;
}

/* ----- Customized Third-party library styles ----- */

.mdi {
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 22px !important;
	line-height: 1 !important;
	letter-spacing: normal !important;
	text-transform: none !important;
	display: inline-block !important;
	white-space: nowrap !important;
	word-wrap: normal !important;
	direction: ltr !important;
	-webkit-font-feature-settings: 'liga' !important;
	-webkit-font-smoothing: antialiased !important;
}
