@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/images/Material Icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.bubble {
    width: 150px !important;
    height: 35px !important;
    top: 0px;
    left: 0px;
    /* z-index: 1000000 !important; */

    z-index: 1 !important;
    display: block;

    padding: 0px 0px !important;
    opacity: 0.9 !important;
    /* background-color: rgb(255, 165, 0, 1) !important; */
    /* background-color: rgba(198, 238, 253, 1) !important; */
    background-color: rgba(0, 0, 0, 0.8) !important;

    position: absolute !important;
    /* display: none; */
    color: white !important;
    border-width: 0px !important;
    border-style: solid !important;
    border-color: black !important;
    border-radius: 4px !important;
    font-family: Arial !important;
    font-style: normal !important;
    font-variant: normal !important;
    line-height: 65% !important;

}

.bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    /* border-top-color: rgb(255, 165, 0, 1) !important; */
    /* border-top-color: rgba(198, 238, 253, 1) !important; */
    border-top-color: rgba(0, 0, 0, 0.8) !important;

    border-bottom: 0;
    margin-left: -8px;
    margin-bottom: -8px;
}