.highlight {
    background-color: orange;
    /* font-weight: bold;
    color: red; */
}

.spacer {
    height: 6px;
}

.cardBottom {
    position: absolute;
    display: block;
    margin-left: auto !important;
    margin-right: 3 !important;
    float: right !important;
    /* text-align: right; */
    bottom: 5px;
    right: 7px;
}

.note .cardBottom {
    color: rgba(0, 0, 0, 0.5);
    right: auto;
}

/* popup.html */
html {
    font-size: 125%;
    box-sizing: border-box;
    overflow: hidden;

    /* background: rgba(0, 0, 0, 0.8); */
    background: rgba(0, 0, 0, 0.4);
    height: 700px;

}

html::-webkit-scrollbar {
    display: none;
}

/* body */
body {
    width: 450px;
    /* height: 530px; */
    height: 700px;

    margin: 0px;
}

#container {
    height: auto;

    position: relative;
    top: 60px;
    margin-bottom: 70px;
}

header {
    height: 60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 1);
    /* background: steelblue; */

}

textarea:focus,
input:focus {
    outline: none;
}




.searchbox::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-overlay {
    color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    position: absolute;
    top: 19px;
    left: 20px;
    font-size: 120% !important;
}


.searchCancelButton {
    position: absolute;
    top: 19px;
    display: none !important;
    color: rgba(255, 255, 255, 0.4);
    padding: 2px;
    left: 300px;
    /* left: 280px; */
    z-index: 1000000 !important;
    font-size: 120% !important;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
}

.sortOrder {
    color: rgba(255, 255, 255, 0.4) !important;
    position: absolute;
    top: 68px;
    left: 410px;
    /* top: 19px;
    left: 400px; */
    -moz-user-select: none;
    user-select: none;
}

.sortOrderDescription {
    color: rgba(255, 255, 255, 0.4) !important;
    position: absolute;

    top: 70px;
    left: 380px;
    /* top: 21px;
    left: 370px; */
    -moz-user-select: none;
    user-select: none;

}

.headerCommand {
    color: rgba(255, 255, 255, 0.7) !important;
    position: absolute;
    top: 15px;
    left: 335px;
}

.newText {
    padding: 3px;
    /* color: rgba(255, 255, 255, 0.7) !important;
    position: absolute;
    top: 17px;
    left: 350px; */

}

.hitCount {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    top: 19px;
    right: 25px;
}

.deleteItem {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 30%;
    right: 5px;
}

.deleteItem:hover {
    color: teal !important;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;

    cursor: pointer;

    right: 5px;
}

.searchbox {
    border-radius: 30px;
    width: 70%;
    /* width: 65%; */
    height: 30px;
    padding: 10px 10px 10px 35px;
    margin: 15px;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    background: rgba(255, 255, 255, 0.2);
}

footer {
    width: 100%;
    /* background: rgba(0, 0, 0, 0.8); */
    background: rgba(0, 0, 0, 0.6);

    position: fixed;
    /* margin-left: 12px; */
    bottom: 0px;
    height: 50px;
    /* text-align: left; */
    text-align: center;

}

#main {
    /* padding-bottom: 50px; */
    overflow: hidden;
}

.sticky {
    display: block;

    position: fixed;
    top: 0;
    width: 100%;
}


.filtered {
    display: none !important;
}

#addStackSpace {
    text-align: center;
    display: block;
}

#addStackSpace:hover {
    color: white !important;
}

#addStackText {
    white-space: pre-wrap;
    width: 80%;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: inherit !important;
    font-size: inherit !important;
}

.source {
    /* color: rgba(138, 175, 189, 0.8); */
    margin-top: 10px;
    font-size: 12px !important;
    align-self: right;
}


ul {
    margin: 0;
    padding: 0;
}

ul li {
    font-family: 'Arial';
    line-height: 28px;


    border: 1px solid gray;
    border-radius: 3px;

    overflow: auto;
    font-size: 16px !important;

    font-size: 4vw;

    height: 40px;

    /* cursor: pointer; */
    position: relative;
    margin: 15px;
    overflow-wrap: break-word;
    list-style: none;

    /* padding: 12px 8px 12px 40px; */
    /* padding: 10px; */
    padding: 15px;
    /* background: rgba(255, 255, 255, 0.7); */
    /* background: rgba(255, 255, 255, 0.8); */
    background: rgba(255, 255, 255, 1);

    font-size: 18px;
    /* transition: 0.2s; */
}

/* Set all odd list items to a different color (zebra-stripes) */
/* ul li:nth-child(odd) {
    background: #f9f9f9;
} */

/* ul .note:nth-child(odd) {
    width: 78% !important;
    margin-left: auto !important;
    margin-right: 8% !important;
    border-left: 3px solid teal;
} */

.note:hover {
    border-left: 6px solid goldenrod !important;

    /* border-right: 1px solid gray !important; */
    background-color: lemonchiffon !important;
    /* margin-left: 8px !important; */
    margin-left: 10px !important;

    border-right: 1px solid gray !important;
    margin-right: 15px;

}

/* .note {
    width: 85% !important;

    margin-left: auto;
    margin-right: auto !important;
    text-align: center;
} */

ul li:last-child {
    background: white;
}

/* Darker background-color on hover */
ul li:hover {
    /* border-right: 10px solid khaki;
    background-color: ivory !important; */

    background: azure !important;
    border-right: solid 8px teal;

    margin-right: 8px;
}

.itemlist {
    display: flex;
    flex-direction: column-reverse;
}

/* button styles*/
.button-container {
    margin: 10px;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.1s;
}


.button {
    width: 75%;
    border: none;
    /* border: 1; */
    display: inline-block;
    padding: 5px 5px;
    margin-right: 5px;
    margin-left: 5px;

    /* background-color: bisque; */
    background-color: bisque;

    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    /* transition: transform .2s ease; */


    outline: none;
}

a:hover {
    color: rgb(32, 123, 156) !important;
    text-decoration: underline !important;

}

a:link {

    color: rgba(138, 175, 189, 0.8);
    text-decoration: none;
}

a:visited {
    color: rgba(138, 175, 189, 0.8);
    text-decoration: none;
}

/* .button-container::after {
    content: "オプション";
    text-decoration: underline;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 2px;
} */


/* font */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/webfonts/Material Icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}