/* utilities */
.sticky {
    position: fixed;
    z-index: 999999;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.5);

}

#reset {
    background-color: bisque;
    z-index: 9999999;
}

#cancel {

    z-index: 9999999;
}


#messagebox {
    font-size: 16px;
    align-self: center;
    justify-content: center;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    padding: 0;

    text-align: center;
    position: fixed;
    background: white;
    z-index: 9999999;
    width: 400px;
    height: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#clearbutton-container {
    align-self: center;
    justify-content: center;

}

.hidden {
    display: none;
}

#tagarea {
    display: none;
    position: relative;
    width: 375px;
    height: 20px;
    padding: 9px;
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: azure;
}

.hashtag:hover {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}


/* .hashtag:hover::after {
    content: "\00d7";
    margin-left: 2px;
} */
.hashtag:not(.default):hover::after {
    content: "\00d7";
    margin-left: 2px;
}

.hashtag::before {
    content: "#";
}


.hashtag {
    padding: 5px;
    /* color: lightsalmon !important; */
    color: rgba(0, 0, 0, 0.5);
    /* font-weight: bold; */
    /* border: 1px solid lightsalmon; */
    /* border-radius: 3px; */
    margin-left: 0px 3px 0px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;

}

.error {
    color: red;
    float: right;
    right: 6px;
}

.highlighted {
    background-color: orange;
}

.emphasized {
    background-color: none;
    /* font-weight: bold; */
}

.marked {
    background-color: blue;
}

.spacer {
    height: 16px;
}

.filtered {
    display: none !important;
}

.entering {
    top: 5px !important;
    float: left;
}

.inlineblock {
    text-align: left;
    display: block !important;
}

/* popup.html */
html::-webkit-scrollbar {
    display: none;
}

html {
    height: 700px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
}

.calendar {
    display: none;
}

#hiddenIframe {
    position: absolute;
    top: 0px;
    left: 450px;
    width: 600px;
    height: 100%;
}

/* container elements */
body {
    width: 450px;
    height: 700px;
    margin: 0px;
}

header:hover {
    opacity: 1 !important;
}

header {
    /* .sticky */
    opacity: 1;
    width: 450px;
    height: 50px;
    top: 0;
    background: black;
    transition: 0.1s;
}

#container {
    /* just under the header */
    position: relative;
    width: 450px;
    top: 55px;
    margin-bottom: 70px;
}

footer:hover {
    opacity: 1 !important;
}

footer {
    opacity: 1;
    width: 450px;
    height: 50px;
    bottom: 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.1s;
}

/* searchbox styles */
textarea:focus,
input:focus {
    outline: none;
}

.searchbox::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.searchbox {
    position: absolute;
    width: 293px;
    height: 28px;
    padding: 10px 28px 10px 34px;
    margin: 12px 12px;
    border: none;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.2);
}

.search-icon {
    position: absolute;
    top: 15px;
    left: 16px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13pt !important;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.search-cancel {
    display: none !important;
    position: absolute;
    top: 14px;
    left: 278px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14pt !important;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.header-board {
    position: absolute;
    top: 19px;
    right: 20px;
    font-size: 125%;
    color: rgba(255, 255, 255, 0.6);
    -webkit-user-select: none;
    -moz-user-select: none;
}

#toolbox {
    position: absolute;
    width: 130px;
    /* right: 18px; */
    left: 310px;

    top: 13px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}


/* .opener */
.opener-top:hover {
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.opener-top {

    color: white;
    /* left: 315px; */
    margin: auto;
    opacity: 0.3;
    font-size: 14px;
}

.switchview:hover {
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.switchview {
    color: white;
    opacity: 0.3;
    /* z-index: 1; */
    /* left: 345px; */
    top: 13px;
    margin: auto;
    font-size: 14px;
}


.fileexport:hover {
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.fileexport {
    color: white;
    opacity: 0.3;
    /* z-index: 1; */
    /* left: 345px; */
    top: 13px;
    margin: auto;
    font-size: 14px;
}

.opener:hover {
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.opener {
    position: absolute;
    left: 215px;
    margin: auto;
    opacity: 0.2;
    font-size: 16px;
}

/* sort-by styles*/
.sort-by:hover {
    opacity: 1;
    cursor: pointer;
}

.sort-by {
    padding: 5px;
    float: right;
    margin-right: 12px;
    font-size: 130%;
    color: white;
    opacity: 0.6;
    -moz-user-select: none;
    user-select: none;
}

.sort-by i {
    font-size: 150% !important;
    vertical-align: text-bottom;
}

/* add container styles*/
.add-textitem {
    display: none;
    width: 375px;
    height: 25px;
    padding: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    border-bottom: 0;

    background: azure;
    color: rgba(0, 0, 0, 0.7);
    resize: none;
    white-space: pre-wrap;
    font-family: inherit !important;
    font-size: 120% !important;
}

/* test */
.textstack {
    clear: right;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}


.stackwrapper {
    position: relative;
    display: inline;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px 15px 10px 15px;
    overflow-wrap: break-word;
    background: white;
    list-style: none;
    line-height: 28px;
    font-family: 'Arial';
    font-size: 16px !important;
}

.date {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 16px;
    margin: 8px;
}



.bookmark:hover {
    border-left: 6px solid goldenrod !important;
    border-right: 1px solid gray !important;
    margin-left: 10px !important;
    margin-right: 15px;
    background-color: lemonchiffon !important;
}

.bookmark {
    font-size: 14px !important;
}

.bookmark .footnote {
    color: rgba(0, 0, 0, 0.5);
    right: auto;
}


.bookmark a:hover {
    text-decoration: underline !important;
}

.bookmark a {
    color: rgb(32, 123, 156) !important;
    text-decoration: none;
}




/* clip styles */
.clip:hover {
    background: azure !important;
    border-right: solid 8px teal;
    margin-right: 8px;
}

.clip a:hover {
    color: rgb(32, 123, 156) !important;
    text-decoration: underline !important;
}

.clip a {
    color: rgba(138, 175, 189, 0.8);
    text-decoration: none;
}


.note a:hover {
    text-decoration: underline !important;
}

.note a {
    color: rgb(32, 123, 156) !important;
    text-decoration: none;
}

/* to do: title form */
/* .title-input {
    position: relative;
    display: none;
    top: 0px;
    left: 0px;
    width: 150px;
} */

/* note styles */
.note:hover {
    border-left: 6px solid goldenrod !important;
    border-right: 1px solid gray !important;
    margin-left: 10px !important;
    margin-right: 15px;
    background-color: lemonchiffon !important;
}

.note .footnote {
    color: rgba(0, 0, 0, 0.5);
    right: auto;
}

#add-sort {
    display: block;
}

.footnote {
    position: absolute;
    bottom: 5px;
    right: 7px;
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: 3 !important;
    font-size: 12px !important;
    -moz-user-select: none;
    user-select: none;

    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(138, 175, 189, 0.8);

}

.footnote:hover {
    color: rgb(32, 123, 156) !important;
}

.tag:hover {
    font-weight: bold;
}

.tag {
    margin-right: 6px;
}




/* remove */
.textstack .stackwrapper:hover .checkbox {
    right: 5px !important;
}

.checkbox:hover {
    color: rgba(255, 255, 255, 0.3) !important;
    padding: 0px;
    margin-left: 8px;
    cursor: pointer;
    background-color: #3297FD;
}

.checkbox {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 6px;
    right: 6px;
    float: right;
    font-size: 16px !important;
    border: 1px dotted lightgray;
    border-radius: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin-left: 8px;
}

/* button styles*/
.resetBtn {
    width: 350px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: 1;
    outline: none;
    margin: 10px;
    cursor: pointer;
    background-color: bisque;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* additional fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/webfonts/Material Icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}




/* */
/* .sort-by-top:hover {
    color: white;
    opacity: 1;
    transition: 0.2s;
}

.sort-by-top {
    display: none;
    color: white;
    left: 340px;
    top: 13px;
    position: absolute;
    margin: auto;
    margin-left: 5px;
    opacity: 0.3;
    font-size: 14px;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.sort-by-top .sortarrow {
    font-size: 98%;
    margin-left: -8px;
}
 */




@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-brands-400.eot");
    src: url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-brands-400.woff2") format("woff2"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-brands-400.woff") format("woff"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-brands-400.ttf") format("truetype"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}


@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.eot");
    src: url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.woff2") format("woff2"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.woff") format("woff"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.ttf") format("truetype"), url("chrome-extension://__MSG_@@extension_id__/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* modification on font awesome */
.fab {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 18px !important;
}

.fas {
    margin-top: 4px !important;
    font-size: 18px !important;

}

/* bubble styles */

/* bubble styles */
#outside-container:hover {
    opacity: 1 !important;
}

#outside-container {
    display: none !important;
    cursor: pointer !important;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.2 !important;
    position: absolute;
    right: -30px;
    display: flex;
    justify-content: center;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#bookmark-icon:hover {
    opacity: 1 !important;
    font-size: 20px;
}

#bookmark-icon {
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.stackButton {
    transform: scale(0.95);
    flex: 1;
    padding: 5px;
}

.stackButton:hover {
    transform: scale(0.95);
    color: rgb(141, 223, 253) !important;
    cursor: default;
}

#leftContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
}

#rightContainer {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
    padding-left: 5px;
    /* align-items: center; */

}

#bubble {
    width: 200px !important;
    height: 70px !important;

    top: 0px;
    left: 0px;
    z-index: 999999 !important;

    padding: 0px 0px !important;

    flex-wrap: nowrap;

    position: absolute !important;
    display: none;

    opacity: 0.9 !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    /* background-color: darkslategray !important; */

    border-width: 0px !important;
    border-style: solid !important;
    border-color: black !important;
    border-radius: 4px !important;

    color: white !important;
}

#bubble::after {
    content: '';

    width: 0;
    height: 0;
    left: 25%;
    bottom: 0;

    position: absolute;

    border: 8px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8) !important;
    border-bottom: 0;
    border-right: 0;

    margin-left: -8px;
    margin-bottom: -8px;
}