/* latin-ext */
/* @font-face {
    font-family: 'Stint Ultra Expanded';
    font-style: normal;
    font-weight: 400;
    src: url('./Stint Ultra Expanded.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./Material Icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}




/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */


.itemlist {
    display: flex;
    flex-direction: column-reverse;
}


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 350px;
    height: 300px;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(254, 237, 185, .3);
    padding: 2px 4px;
    border-radius: 2px;
}

.counter-label {
    font-size: 12px;
    margin-bottom: 5px;
}

.counter {
    font-size: 36px;
    font-weight: 700;
}

.button-container {
    margin-top: 15px;
}

.button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: bisque;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.1);
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}